<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{jiraform.as_p}}
        <input type="submit" value="Update" class="btn btn-success">
        <a href="{% url 'addrow' %}" class="btn btn-info">Back to Dashboard</a>
    </form>
</body>
</html>